{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

  <section class="container-fluid pl-0 pr-0" style="background-image: url('{{ bacground.image.url }}'); background-size: cover;">
    <div class="container-fluid" style="background-color:rgba(0,0,0,0.5);">
      <div class="container pt-5 pb-5">
        <div class="row pt-5 pb-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
            <h1 class="text-white font-weight-bold text_h1">{% trans 'Строительный материалы' %}</h1>
        </div>
        </div>
      </div>
    </div>
  </section> 



  
<section class="container-fluid pl-0 pr-0 pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 pt-3 mt-2 border">
        
        <ul class="list-unstyled p-0 category_ul">
          <li class="p-2" style="background-color: rgb(228, 228, 228);">{% trans 'Компании' %}</li> 
          {% for seller in sellers %}  
          
          
          <li class="p-2"><a href="?seller={{seller.id}}">{{ seller.name }}</a></li>
          {% endfor %}   
          

        </ul>
       

        
        <ul class="list-unstyled category_ul p-0">
          
          <li class="p-2" style="background-color: rgb(228, 228, 228);">{% trans 'Все' %}</li>
          
          {% for category in categories %}
          
          <li class="p-2" ><a href="?seller={{seller_id}}&category={{category.id}}">{{category.name}}</a> </li>
          {% endfor %}

        </ul>
        
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="row">
          <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2 text-right">
            <small>Сортировка:</small>  
            <select class="pl-3 pr-3 pt-1 pb-1" name="" id="" style="border:1px solid #cccccc; font-size: 14px;">
                <option style="font-size: 14px;" class="mt-2" value="">По сену</option>
                <option style="font-size: 14px;" class="mt-2" value="">По алфавит</option>
                <option style="font-size: 14px;" class="mt-2" value="">По новинки</option>
              </select>
          </div> -->


          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2 text-right">

            <table id="table">
              <thead>
              <tr>
                <th scope="col">{% trans 'Наименование' %}</th>
                <th scope="col">{% trans 'Ед. изм' %}</th>
                <th scope="col">{% trans 'Масса за 1 шт' %}</th>
                <th scope="col">{% trans 'Цена 1 пачки' %} <br> (в долл.США)</th>
              </tr>
              </thead>
              <tbody>
                {% for product in products %}
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#{{product.slug}}">{{product.name}}</td>
                <td data-label="Ед. изм">{{ product.measurement_type }}</td>
                <td data-label="Масса за 1 шт">{{product.mass}}</td>
                <td data-label="Цена 1 пачки (в долл.США)">{{product.price}}</td>
              </tr>
              {% endfor %}
              
              
              </tbody>
            </table>
            
              <a class="btn btn-success btn-sm pl-3 pr-3 mt-3" href="{% url 'export-excel' %}?category={{cat_id}}" >{% trans 'Export excel' %}</a>
          </div>
     
       </div>
      </div>
    </div>
         
  </div>
</section>


<!-- Product modals -->
<!-- Product 1-->

{% for i in products %}
 <div class="modal fade" id="{{i.slug}}" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="productmodalTitle">{{i.name}}</h5>
      <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">{% trans 'Закрыть' %}</button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <img {% if i.image.url %} src="{{i.image.url}}" {% endif %} width="100%" alt="">
          </div>
          <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <table>
              <thead>
                </tr>
                  <th>{% trans 'Тип' %}</th>
                  <th>{% trans 'Размер' %} </th>
                </tr>
              </thead>
              <tbody>
                {% if i.title and i.value %}
                <tr>
                  <td scope="row" data-label="Тип бумага">{{i.title}}</td>
                  <td scope="row" data-label="Размер бумага">{{i.value}}</td>
                </tr>
               {% endif %}
               {% if title1 and i.value1 %}
               <tr>
                  <td scope="row" data-label="Тип бумага">{{i.title1}}</td>
                  <td data-label="Размер бумага">{{i.value1}}</td>
               </tr>
               {% endif %}

               {% if i.title2 and  i.value2 %}
               <tr>
                  <td data-label="Тип бумага">{{i.title2}}</td>
                  <td data-label="Размер бумага">{{i.value2}}</td>
               </tr>
               {% endif %}

               {% if i.value3 and i.title3 %}
                  <tr>
                     <td data-label="Тип бумага">{{i.title3}}</td>
                     <td data-label="Размер бумага">{{i.value3}}</td>
                   </tr>
               {% endif %}

               {% if i.value4 and i.title4 %}
                    <tr>
                     <td data-label="Тип бумага">{{i.title4}}</td>
                     <td data-label="Размер бумага">{{i.value4}}</td>
                   </tr>
               {% endif %}

                {% if i.value5 and i.title5 %}
                    <tr>
                      <td data-label="Тип бумага">{{i.title5}}</td>
                      <td data-label="Размер бумага">{{i.value5}}</td>
                    </tr>
                {% endif %}
                {% if i.value6 and i.title6 %}
                  <tr>
                    <td data-label="Тип бумага">{{i.title6}}</td>
                    <td data-label="Размер бумага">{{i.value6}}</td>
                  </tr>
                {% endif %}
                {% if i.value7 and i.title7 %}
                  <tr>
                      <td data-label="Тип бумага">{{i.title7}}</td>
                      <td data-label="Размер бумага">{{i.value7}}</td>
                    </tr>
                {% endif %}
                {% if i.value8 and i.title8 %}
                  <tr>
                      <td data-label="Тип бумага">{{i.title8}}</td>
                      <td data-label="Размер бумага">{{i.value8}}</td>
                    </tr>
                {% endif %}
                {% if i.value9 and i.title9 %}
                  <tr>
                      <td data-label="Тип бумага">{{i.title9}}</td>
                      <td data-label="Размер бумага">{{i.value9}}</td>
                    </tr>
                {% endif %}
                {% if i.value10 and i.title10 %}
                  <tr>
                      <td data-label="Тип бумага">{{i.title10}}</td>
                      <td data-label="Размер бумага">{{i.value10}}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h6 class="text-success text-left pt-0 pl-2 form-inline">{{i.price}} $</h6>
         </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
{% endfor %}



<section class="container-fluid bg-trasparent p-0 p-sm-0 p-md-1 p-lg-3 px-lg-3" style="border-top: 1px solid #b6b6b6;">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <h3 class="font-weight-bold pb-2 pt-4" style="color: #000000;">{% trans 'Новинки' %}</h3>
      </div>
    </div>
    <div class="row">	
      {% for product in new_products %}		
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3">
          <div class="card"> <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            {% if product.type %} <div class="label-top shadow-sm">new</div> {% endif  %}
            <div class="card-body">
              <span class="float-start small font-weight-bold" style="border: 1px solid #ddd; border-radius: 15px; padding: 3px 15px 3px 15px;">{{product.price}}{% if product.price_type == 'DOL' %} $ {% endif %}</span>
            <h5 class="card-title pt-2">{{ product.name }}</h5>
              <div class="text-right"><button class="btn btn-sm" style="border: 1px solid #ddd; border-radius: 10px; padding: 0px 15px 0px 15px;">{5 trans 'Info' %}</button></div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>

{% endblock content %} 
