{% extends 'base.html' %}
{% load static %}


{% block content %} 

  <section class="container-fluid pl-0 pr-0" style="background-image: url(img/bg/4.jpg); background-size: cover;">
    <div class="container-fluid" style="background-color:rgba(0,0,0,0.5);">
      <div class="container pt-5 pb-5">
        <div class="row pt-5 pb-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
            <h1 class="text-white font-weight-bold" style="font-size: 50px;">Продукты питания</h1>
        </div>
        </div>
      </div>
    </div>
  </section> 


  
<section class="container-fluid pl-0 pr-0 pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 pt-3 mt-2 border">
        <ul class="list-unstyled p-0 category_ul">
          <a href="#!" class="color"><li class="p-2" style="background-color: rgb(228, 228, 228);">Все </li></a>
          <a href="#!" class="color"><li class="p-2">Мясные </li></a>
          <a href="#!" class="color"><li class="p-2">Мясосодержащие </li></a>
          <a href="#!" class="color"><li class="p-2">Докторскую</li></a>
          <a href="#!" class="color"><li class="p-2">Столичную</li></a>
          <a href="#!" class="color"><li class="p-2">Краснодарскую</li></a>
          <a href="#!" class="color"><li class="p-2">Любительскую</li></a>
          <a href="#!" class="color"><li class="p-2">Телячью</li></a>
          <a href="#!" class="color"><li class="p-2">Колбаса 8</li></a>
          <a href="#!" class="color"><li class="p-2">Колбаса 9</li></a>
          <a href="#!" class="color"><li class="p-2">Колбаса 10</li></a>
          <a href="#!" class="color"><li class="p-2">Колбаса 11</li></a>
          <a href="#!" class="color"><li class="p-2">Колбаса 12</li></a>
          <a href="#!" class="color"><li class="p-2">Колбаса 13</li></a>
        </ul>
        <ul class="list-unstyled category_ul p-0">
         <h6 class="p-2 font-weight-bold" style="background-color: rgb(228, 228, 228);">Компании</h6>

          <a href="#!" class="color"><li class="p-2">Favorite food group</li></a>
          <a href="#!" class="color"><li class="p-2">To'xtaniyoz Ota</li></a>
          <a href="#!" class="color"><li class="p-2">Navro'z</li></a>
          <a href="#!" class="color"><li class="p-2">Salom</li></a>
          <a href="#!" class="color"><li class="p-2">Makiz</li></a>
          <a href="#!" class="color"><li class="p-2">Sag'bon</li></a>
          <a href="#!" class="color"><li class="p-2">Foodmaxx</li></a>
          <a href="#!" class="color"><li class="p-2">Exclusive</li></a>
          <a href="#!" class="color"><li class="p-2">Zarhal</li></a>
          <a href="#!" class="color"><li class="p-2">Nazif</li></a>
          <a href="#!" class="color"><li class="p-2">Delmark</li></a>
          <a href="#!" class="color"><li class="p-2">Appetito</li></a>
          <a href="#!" class="color"><li class="p-2">Alsafi</li></a>
          <a href="#!" class="color"><li class="p-2">Sladus</li></a>
          <a href="#!" class="color"><li class="p-2">Sherin</li></a>
          <a href="#!" class="color"><li class="p-2">Musa</li></a>
          <a href="#!" class="color"><li class="p-2">Tanho</li></a>



        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2 text-right">
            <small>Сортировка:</small>  
            <select class="pl-3 pr-3 pt-1 pb-1" name="" id="" style="border:1px solid #cccccc; font-size: 14px;">
                <option style="font-size: 14px;" class="mt-2" value="">По сену</option>
                <option style="font-size: 14px;" class="mt-2" value="">По алфавит</option>
                <option style="font-size: 14px;" class="mt-2" value="">По новинки</option>
              </select>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2 text-right">
            
            <table id="table">
              <thead>
              <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Ед. изм</th>
                <th scope="col">Масса за 1 шт</th>
                <th scope="col">Цена 1 пачки <br> (в долл.США)</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              <tr>
                <td scope="row" data-label="Наименование" data-toggle="modal" data-target="#produc1">A3 (320*450sm)</td>
                <td data-label="Ед. изм">200 gr</td>
                <td data-label="Масса за 1 шт">300 gr</td>
                <td data-label="Цена 1 пачки (в долл.США)">100 шт</td>
              </tr>
              
              </tbody>
            </table>

              <button class="btn btn-success btn-sm pl-3 pr-3" id="downloadexcel">Export excel</button>
          </div>
     
       </div>
      </div>
    </div>
         
  </div>
</section>




<!-- Product modals -->

<!-- Product 1-->
<div class="modal fade" id="produc1" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <h5 class="modal-title">Fruits name</h5>
      </div>
      <div class="modal-body p-3">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="img/products/w10.jpg" width="100%" alt="">
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-8">
            <p class="font-weight-normal">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione asperiores illum explicabo sapiente vitae similique est voluptate, distinctio, debitis natus dolore unde repellendus, vero architecto pariatur tempora quas iste fugiat?</p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
             <h6 class="text-success text-left pt-0 pl-2 form-inline">Сумма: 121 сум</h6>
          </div>

          <div class="col-12 text-right">
            <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="container-fluid bg-trasparent p-0 p-sm-1 p-md-2 p-lg-3 p-lg-3" style="border-top: 1px solid #b6b6b6;">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <h3 class="font-weight-bold pb-2 pt-4" style="color: #000000;">Новинки</h3>
      </div>
    </div>
    <div class="row">				
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3">
        <div class="card"> <img src="img/products/3.png" class="card-img-top" alt="...">
          <div class="label-top shadow-sm">New</div>
          <div class="card-body">
            <span class="float-start small font-weight-bold" style="border: 1px solid #ddd; border-radius: 15px; padding: 3px 15px 3px 15px;"> 14.00 $</span>
          <h5 class="card-title pt-2">Сосиски "FAVORITE" "Молочные"</h5>
            <div class="text-right"><button class="btn btn-sm" style="border: 1px solid #ddd; border-radius: 10px; padding: 0px 15px 0px 15px;">Info</button></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3">
        <div class="card h-100 shadow-sm"> <img src="img/products/4.png" class="card-img-top" alt="...">
          <div class="label-top shadow-sm">New</div>
          <div class="card-body">
            <span class="float-start small font-weight-bold" style="border: 1px solid #ddd; border-radius: 15px; padding: 3px 15px 3px 15px;"> 18.00 $</span>
          <h5 class="card-title pt-2">Сосиски "FAVORITE" "Молочные"</h5>
            <div class="text-right"><button class="btn btn-sm" style="border: 1px solid #ddd; border-radius: 10px; padding: 0px 15px 0px 15px;">Info</button></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3">
        <div class="card h-100 shadow-sm"> <img src="img/products/5.png" class="card-img-top" alt="...">
          <div class="label-top shadow-sm">New</div>
          <div class="card-body">
            <span class="float-start small font-weight-bold" style="border: 1px solid #ddd; border-radius: 15px; padding: 3px 15px 3px 15px;"> 4.00 $</span>
          <h5 class="card-title pt-2">Сосиски "FAVORITE" "Молочные"</h5>
            <div class="text-right"><button class="btn btn-sm" style="border: 1px solid #ddd; border-radius: 10px; padding: 0px 15px 0px 15px;">Info</button></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3">
        <div class="card h-100 shadow-sm"> <img src="img/products/6.png" class="card-img-top" alt="...">
          <div class="label-top shadow-sm">New</div>
          <div class="card-body">
            <span class="float-start small font-weight-bold" style="border: 1px solid #ddd; border-radius: 15px; padding: 3px 15px 3px 15px;"> 4.00 $</span>
          <h5 class="card-title pt-2">Сосиски "FAVORITE" "Молочные"</h5>
            <div class="text-right"><button class="btn btn-sm" style="border: 1px solid #ddd; border-radius: 10px; padding: 0px 15px 0px 15px;">Info</button></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
  
{% endblock content %} 