
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %} 
    <section class="container-fluid pl-0 pr-0" style="background-color: #1A5DA6; border-top: 1px solid #ffffff; background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
            <h2 class="text-white font-weight-bold pt-2 pb-1 pl-5">{% trans 'Контакты' %}</h2>
        </div>
        </div>
      </div>
    </section> 
  



<section class="container-fluid pl-0 pr-0 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2119.11553154305!2d69.28948492889067!3d41.311432204211755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef5c20fb299af%3A0xc3466f7ee8e78cc0!2sprogresstrade!5e0!3m2!1sru!2s!4v1652528406609!5m2!1sru!2s" style="width: 100%; border:0;" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="wrapper text-center" style="height: 175px;">
          <h5 class="font-weight-bold pt-2"><i class="fas fa-map-marker-alt fa-2x mr-2"></i></h5>
        <div class="card-body pl-2">
          <h5>{% trans 'Адрес компании:' %}</h5>
          <small>город Ташкент, Мирзо-Улуғбекский район, Ц-1, улица Ўзбекистон овози. д-21</small>          
        </div>
      </div>        
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="wrapper border-left border-right text-center" style="height: 175px;">
          <h5 class="font-weight-bold pt-2"><i class="fa fa-phone fa-2x mr-2" style="transform: rotate(90deg);"></i></h5>
        <div class="card-body pl-2">
          <h5>{% trans 'Телефоны:' %}</h5>
          <small>+998 94 655-00-48</small><br>
          <small>+998 90 176-00-05</small>            
        </div>
      </div> 
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="wrapper text-center" style="height: 175px;">
          <h5 class="font-weight-bold pt-2"><i class="fa fa-envelope fa-2x mr-2"></i></h5>
        <div class="card-body pl-2">
          <h5>E-mail:</h5>
          <small>progresstrade.exp@gmail.com</small>
        </div>
      </div>  
      </div>
  </div>
  </div>
</section>

{% endblock content %} 
