{% extends 'base.html' %}
{% load static %}


{% block content %} 
<script>
  window.replainSettings = { id: '328a1019-cf35-433c-b4f4-0555e0667585' };
  (function(u){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=u;
  var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);
  })('https://widget.replain.cc/dist/client.js');
  </script>
  
  <style>
          .pd-2{
          padding:2%;
      }
      .pd-r-2{
          padding-right:2%;
      }
      .pd-l-2{
          padding-left:2%;
      }
      .pd-t-2{
          padding-top:2%;
      }
      .pd-b-2{
          padding-bottom:2%;
      }
      body{
          font-family: 'PT Sans', sans-serif;
      }
      h1,h2,h3,h4,h5,.lead,div[data-toggle="collapse"]{
          font-family: 'Oswald', sans-serif;
      }
      #accardion_section ul li{
          list-style:one;
      }
      #accardion_section div[data-toggle="collapse"]{
        border-bottom:1px solid #1A5DA6;
        width:100%;
        cursor:pointer;
        padding:1%;
        min-width: none;
      }
      #accardion_section .collapse{
          background:#ffffff;
          border: 1px solid #1A5DA6;
      }
  </style>


    <section class="container-fluid pl-0 pr-0">
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h2 class="font-weight-bold">Оплата</h2>
              <h6 class="text-justify">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tenetur dolor soluta molestiae, reprehenderit voluptatibus magnam quo odio accusantium doloribus dolore incidunt suscipit ullam omnis laborum. Aliquam iusto tenetur obcaecati?
              </h6>
          </div>
        </div>
      </div>
    </section>
<!-- 
  <section class="container-fluid pb-5 pt-5" id="accardion_section">
    <div class="container">
      <div class="row card pt-2 pl-2" style="border:1px solid #1A5DA6; color: #1A5DA6;">
        <h4>Часто задаваемые вопросы.</h4>
      </div>
      
      <div class="row">
      
          <ul id="accordion" class="col-sm-6 col-md-12">
              <li>
                  <div id="choose" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                    Как сделать покупку ?
                      <span class="fa fa-chevron-up fa-1x pull-right" style="color: #1A5DA6;"></span>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body font-weight-normal">
                        Чтобы купить товары в нашем интернет магазине gomart.uz, вам необходимо выбрать нужный товар из каталога, добавить его в корзину и нажать «Заказать». <br><br>
                        Затем вам нужно будет подтвердить свой адрес доставки и контактный телефон. <br><br>
                        Для подтверждения доставки с вами свяжется наш оператор, а также вы получите письмо через службу связи. <br><br>
                        Оплату можно произвести наличными и при помощи пластиковой карты на месте, при доставке. <br><br>
                        ИНСТРУКЦИЯ <br><br>
                        1. Выбираете каталог продуктов gomart.uz; <br><br>
                        2. Выбираете нужный товар и добаляете его в корзину; <br><br>
                        3. Нажимаете кнопку заказа и указываете свой адрес доставки и номер телефона. После оформления заказа в течение часа с вами свяжется наш оператор, для подтверждения заказа.
                      </div>
                    </div>
              </li>
              
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Условия доставки
                      <span class="fa fa-chevron-up fa-1x pull-right" style="color: #1A5DA6;"></span>
                  </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body font-weight-normal">
                        Доставка осуществляется ежедневно без выходных: <br><br>
                        - при покупке от 100 тысяч сум в пределах ТКАД города Ташкент; <br><br>
                        - при покупке от 200 тысяч сум за пределами ТКАД города Ташкент, <br><br>
                        за исключением поселков Бинокор, Спутник и Улугбек. Стоимость доставки - 9 тысяч сум.
                      </div>
                    </div>
              </li>
              
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Тип доставки?
                      <span class="fa fa-chevron-up fa-1x pull-right" style="color: #1A5DA6;"></span>
                  </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body font-weight-normal">
                        Ship to Home (доставка до дома - стоимость доставки 9 тыс. сум) при покупке свыше 100 000 сум (от 100 тысяч сум в пределах ТКАД города Ташкент и от 200 тысяч сум за пределами ТКАД города Ташкент, за исключением поселков Бинокор, Спутник и Улугбек) Store Pickup (самовывоз со склада) – при покупке до 100 000 сум Store Pickup осуществляется со склада магазина. Для получения товара клиенту нужно будет произвести звонок с телефона, который был зарегистрирован при оформлении заказа/оплаты. Время доставки можно выбрать на сайте, в случае если покупки будут оформлены после 18:00, доставка товаров будет осуществлена на следующий день. Если клиент в указанное время не забрал товар, он будет возвращен на склад и заказ аннулируется. В случае, если заказ был оплачен, то клиент может оформить новый заказ на ту же сумму посредством помощи оператора.
                      </div>
                    </div>
              </li>
              
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Процесс отказа?
                      <span class="fa fa-chevron-up fa-1x pull-right" style="color: #1A5DA6;"></span>
                  </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body font-weight-normal">
                        В случае полного отказа от заказа, необходимо позвонить менеджеру интернет-магазина за 2 часа до доставки.
                      </div>
                    </div>
              </li>
              
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Возврат товара?
                      <span class="fa fa-chevron-up fa-1x pull-right" style="color: #1A5DA6;"></span>
                  </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body font-weight-normal">
                        Клиент может вернуть товар во время получения, либо же в течение 2 дней со дня доставки при следующих условиях: - товар не был использован; - сохранен его внешний вид; - имеется чек о приобретении товара; Для подробной информации обращайтесь по телефону +998 90 808-00-69
                      </div>
                    </div>
              </li>
              

          </ul>
      </div>
    </div>    
  </section> -->

  <section class="container-fluid pl-0 pr-0" style="background-color: #1A5DA6; background-size: cover;">
    <div class="container-fluid pl-0 pr-0 pt-5 pb-5" style="background-color: rgba(0,0,0,0.5);">
      <div class="container pb-5">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-3">
            <h2 class="text-white font-weight-bold">Доставка</h2>
            <h6 class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi vero ea temporibus nobis explicabo quam consequatur cupiditate accusamus impedit, enim molestiae deserunt fugiat excepturi ratione quis qui repellendus dolorem exercitationem.</h6> 
          </div>
        </div>
        <div class="row pt-2 pl-2" style="border:1px solid #1A5DA6; background-color: #ffffff; color: #1A5DA6;">
          <h4 class="pl-3">Узнать цена доставки.</h4>
        </div>
        <div class="row pt-3">
          <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
            <h5 class="text-white pl-2">Откуда</h5>

            <h5 style="border: 1px; margin-top: 10px; width: 100%; background-color: #ffffff; padding: 1px 5px 2px 10px;">Узбекистан</h5>

            <!-- <select style="width: 100%; padding: 5px 35px 5px 35px;">
              <option style="font-weight: normal;">Узбекистан</option>
            </select> -->
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <h5 class="text-white pl-3">Куда</h5>
            <form action="{% url 'how-to-by' %}">
             
              <select name="logistic" style="width: 100%; padding: 5px 35px 5px 35px;">
                {% for city in logistics %}
                <option class="h5 font-weight-bold" value="{{ city }}" name="" {% if city.place_name == logistic %} selected {% endif %}>{{city.place_name }}</option>
                {% endfor %}
              </select>
              <div class="col-12 col-sm-12 col-md-5 col-lg-2 col-xl-2 pt-2">
                <button type="submit" class="btn btn-success btn-sm mt-4 pl-5 pr-5" value="click">Расчет</button>
              </div>
            </form>
            
          </div>
          
          <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
            <h5 class="text-white pl-2">Цена</h5>
            <h6 style="border: 1px solid rgb(80, 80, 80); padding: 6px 10px 3px 15px; background-color: #ffffff;"><span class="font-weight-bold pr-2">{{logistics_price.price}}</span> so'm</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

<script>
$(function(){
    //$(".chevron-down").
    $("div[data-toggle=collapse]").click(function(){
        $(this).children('span').toggleClass("fa-chevron-down fa-chevron-up");
    });
})
</script>

{% endblock content %}